@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Slab";
  src: url(../../fonts/RobotoSlab-Light.ttf);
}

@font-face {
  font-family: "Roboto Medium";
  src: url(../../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Normal";
  src: url(../../fonts/Roboto-Regular.ttf);
}
