.blog {
  margin: 100px 20px 50px 20px;
  background-color: var(--bkgreen);
}

.blog-img {
  width: 100%;
  height: auto;
}

.blog-post {
  padding: 60px 30px 60px 30px;
  text-align: left;
}

h6 {
  font-size: 29px;
  font-weight: 500;
  font-family: "Roboto Slab";
  padding: 50px;
}

.p1 {
  font-size: 19px;
  padding: 0px 50px 40px 50px;
}

.author {
  font-size: 15px;
  padding: 0px 50px 0px 50px;
}

.continuebtn {
  margin: 30px 50px 50px 50px;
  border: none;
  padding: 10px 30px 10px 30px;
  border: none;
  background-color: var(--green);
  color: var(--white);
  font-family: Roboto Medium;
  font-weight: bold;
}

@include respond-to("large") {
  .blog {
    display: flex;
    flex-direction: row-reverse;
  }

  .blog-img {
    width: 50%;
    height: auto;
  }
}
